@import './quasar.variables.scss';

// remove top padding from main page layout
.q-page-container {
  padding-top: 0 !important;
}

.q-focus-helper {
  border-radius: 30px !important;
}

// custom colors
.nav-background {
  background-color: rgba($accent, .05) !important;
}
