@import './quasar.variables.scss';

// remove top padding from main page layout
.q-page-container {
  padding-top: 0 !important;
}

.rounded-button {
  &.q-focus-helper {
    border-radius: 30px !important;
  }
}

// custom colors
.nav-light-background {
  background-color: rgba($secondary, .2) !important;
}

.nav-background {
  background-color: rgba($secondary, .85) !important;
}
